.card {
    border-radius: 5px;
}


h5 {
    text-transform: capitalize;
    text-align: center;
}


/*  .col {
        display: flex;
        align-items: center;
        justify-content: center;
    } */

#wImg {
    height: 9em;
}